.container
  - @images.each do |image|
    .row.p-a-1
      .col-xs-6.text-xs-center#judged-image
        = smart_image_tag(image)
      .col-xs-6
        %h2
          = name_for_category(image.category)
        %h3.m-t-3 修正
        .row
          - Image.categories.except(:unknown).each do |category, _|
            .col-lg-12.m-b-2
              = link_to category, images_judge_path(image_id: image.id, category: category),
                class: 'btn btn-judge btn-lg p-y-2 btn-primary',
                style: "background-color: #{color_for_category(category, brightness=0.7)}"
