// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#judge-image > img {
    max-height: 800px;
    max-width: 100%;
}

#judge-window {
    box-shadow: 0px 1px 2px 0px #000000;
}

.btn-judge {
    color: white;
    min-width: 200px;
}
