%nav.navbar.navbar-light.navbar-fixed-top.bg-faded#top-navbar
  .container
    = link_to 'furui', :root, class: 'navbar-brand', id: 'brand'
    %ul.nav.navbar-nav
      %li.nav-item
        = link_to 'Results', images_result_path, class: 'nav-link'

